*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #7f2750;
}
.loader{
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid #f9f9f9;
}
.loader::after{
    content: "";
    position: absolute;
    bottom: 29px;
    left: 30px;
    display: block;
    transform-origin: 0% 100%;
    width: 1px;
    height: 24px;
    background: #f9f9f9;
    animation: clock 1s infinite linear;
}
@keyframes clock {
    to{
        transform: rotate(359deg);
    }
}