::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #131417;
}
::-webkit-scrollbar-thumb{
    border: 10px solid;
    border-image: linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff) 1;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #131417;
}
.navigation{
    height: 75px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    height: 75px;
    width: 930px;
    display: flex;
    align-items: center;
}
.h4{
    margin: 0px 0px 0px 40px;
    font-family: cambria;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 45px;
    opacity: 0.9;
}
.heading{
    background: -webkit-linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.buttons{
    height: 75px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.signupbutton{
    height: 55px;
    width: 125px;
    margin: 0px 10px;
    font-family: cambria;
    background-color: #131417;
    border: 3px solid;
    border-image: linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff) 1;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}
.signupbutton:hover{
    border: 3px solid;
    border-image: linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff) 4;
    animation: signuprotate 1.5s ease-in infinite;
}
@keyframes signuprotate {
    25%{
        border-image: linear-gradient(45deg, #ffdd40, #ae63e4, #76daff, #47cf73) 4;
    }
    50%{
        border-image: linear-gradient(45deg, #ae63e4, #76daff, #47cf73, #ffdd40) 4;
    }
    75%{
        border-image: linear-gradient(45deg, #76daff, #47cf73, #ffdd40, #ae63e4) 4;
    }
    100%{
        border-image: linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff) 4;
    }
}
.signupbutton a{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-family: cambria;
}
.loginbutton{
    height: 55px;
    width: 125px;
    margin: 0px 10px;
    font-family: cambria;
    background-color: #131417;
    border: 3px solid;
    border-image: #ffffff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}
.loginbutton:hover{
    border: 3px solid;
    border-image: linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff) 4;
    animation: loginrotate 1.5s ease-in infinite;
}
@keyframes loginrotate {
    25%{
        border-image: linear-gradient(45deg, #ffdd40, #ae63e4, #76daff, #47cf73) 4;
    }
    50%{
        border-image: linear-gradient(45deg, #ae63e4, #76daff, #47cf73, #ffdd40) 4;
    }
    75%{
        border-image: linear-gradient(45deg, #76daff, #47cf73, #ffdd40, #ae63e4) 4;
    }
    100%{
        border-image: linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff) 4;
    }
}
.loginbutton a{
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-family: cambria;
}
.body{
    margin-top: 50px;
    height: 100%;
    background: transparent;
    display: flex;
}
.texts{
    background-color: transparent;
    width: 50%;
}
.h1{
    margin: 40px 0px 10px 50px;
    font-family: cambria;
    letter-spacing: 0.5px;
    font-size: 70px;
    background: -webkit-linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h3{
    margin: 10px 0px 10px 50px;
    font-family: cambria;
    Font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 45PX;
    line-height: 100%;
    color: #ffffff;
    opacity: 0.9;
}
.paragraph{
    margin: 20px 0px 10px 50px;
    font-family: cambria;
    letter-spacing: 0.5px;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.7;
}
.bold{
    font-weight: bold;
}
.textbutton{
    height: 65px;
    width: 155px;
    margin: 20px 0px 10px 50px;
    font-family: cambria;
    background-color: #131417;
    border: 4px solid;
    border-image: linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff) 1;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}
.textbutton:hover{
    border: 4px solid;
    border-image: linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff) 4;
    animation: textbuttonrotate 1.5s ease-in infinite;
}
@keyframes textbuttonrotate {
    25%{
        border-image: linear-gradient(45deg, #ffdd40, #ae63e4, #76daff, #47cf73) 4;
    }
    50%{
        border-image: linear-gradient(45deg, #ae63e4, #76daff, #47cf73, #ffdd40) 4;
    }
    75%{
        border-image: linear-gradient(45deg, #76daff, #47cf73, #ffdd40, #ae63e4) 4;
    }
    100%{
        border-image: linear-gradient(45deg, #47cf73, #ffdd40, #ae63e4, #76daff) 4;
    }
}
.codes{
    width: 50%;
}
.section{
    margin: 20px 50px 20px 75px;
    height: 400px;
    width: 500px;
    background-color: #474a54;
    border-radius: 25px;
    display: grid;
    justify-content: center;
}
.images{
    margin-left: 180px;
}
.html{
    margin-top: -35px;
    height: 130px;
    width: 405px;
    border-radius: 10px;
    background-color: #282c34;
    box-shadow: 10px 10px 40px #000000;
}
.html p{
    margin: 10px;
    color: #ffffff;
    font-family: cambria;
    opacity: 0.8;
}
.htmlimg{
    width: 255px;
    border-radius: 5px;
}
.css{
    margin: 30px 50px 30px 75px;
    height: 130px;
    width: 405px;
    border-radius: 10px;
    background-color: #282c34;
    box-shadow: 10px 10px 40px #000000;
}
.css p{
    margin: 10px;
    color: #ffffff;
    font-family: cambria;
    opacity: 0.8;
}
.cssimg{
    width: 270px;
    border-radius: 5px;
}
.js{
    height: 130px;
    width: 405px;
    border-radius: 10px;
    background-color: #282c34;
    box-shadow: 10px 10px 40px #000000;
}
.js p{
    margin: 10px;
    color: #ffffff;
    font-family: cambria;
    opacity: 0.8;
}
.jsimg{
    width: 405px;
    border-radius: 5px;
}
.extras{
    margin: 100px 50px;
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-around;
}
.boxes{
    height: 300px;
    width: 400px;
    background-color: #474a54;
    border-radius: 10px;
}
.boximages{
    height: 75px;
    width: 75px;
    margin: -40px 50px 10px 30px;
    border-radius: 10px;
}
.h2{
    margin: 10px 30px;
    font-size: 30px;
    font-family: cambria;
    letter-spacing: 0.8px;
    color: #ffffff;
    opacity: 0.9;
}
.boxp{
    margin: 10px 30px;
    font-size: 18px;
    letter-spacing: 0.8px;
    font-family: cambria;
    color: #ffffff;
    opacity: 0.6;
}
.gradient{
    margin: -600px 20px 10px 0px;
    width: 40%;
    float: right;
}
.footer{
    background: transparent;
}
.teams{
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerh1{
    font-size: 75px;
    font-family: cambria;
    letter-spacing: 0.8px;
    color: #ffffff;
    opacity: 0.9;
}
.sakshi{
    margin: 20px 20px 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.sakshibox{
    margin-left: 40px;
    width: 400px;
    height: 375px;
    background-color: #ffdd40;
}
.sakshibox:hover .sakshiimg{
    filter: grayscale(0%);
    transform: rotate(-10deg);
}
.imagebox{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sakshibox img{
    height: 175px;
    width: 120px;
    border: 5px solid #474a54;
    filter: grayscale(100%);
    transition: 0.2s;
    transform: rotate(-15deg);
}
.sakshih1{
    font-family: cambria;
    color: #000000;
}
.sakshih2{
    font-family: cambria;
    font-size: 20px;
    color: #000000;
}
.sakship{
    margin: 40px 20px;
    font-family: cambria;
    color: #000000;
    opacity: 0.8;
}
.sakshiquote{
    width: 70%;
}
.sakshiparagraph{
    margin: 30px;
    font-family: cambria;
    letter-spacing: 0.5px;
    color: #ffffff;
    opacity: 0.8;
    font-size: 25px;
}
.shubham{
    margin: 40px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.shubhamquote{
    width: 70%;
}
.shubhamparagraph{
    margin: 30px;
    font-family: cambria;
    letter-spacing: 0.5px;
    color: #ffffff;
    opacity: 0.8;
    font-size: 25px;
}
.shubhambox{
    margin-right: 40px;
    width: 400px;
    height: 375px;
    background-color: #ffdd40;
}
.shubhambox:hover .shubhamimg{
    filter: grayscale(0%);
    transform: rotate(-10deg);
}
.shubhambox img{
    height: 175px;
    width: 120px;
    border: 5px solid #474a54;
    filter: grayscale(100%);
    transition: 0.2s;
    transform: rotate(-15deg);
}
.shubhamh1{
    font-family: cambria;
    color: #000000;
}
.shubhamh2{
    font-family: cambria;
    font-size: 20px;
    color: #000000;
}
.shubhamp{
    margin: 40px 20px;
    font-family: cambria;
    color: #000000;
    opacity: 0.8;
}
footer img{
    margin-top: -120px;
    margin-left: 50px;
}
