*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e289b2;
}
.loader{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border-top: 8px solid rgba(255, 255 ,255, 1);
    border-left: 8px solid rgba(255,255,255, 1);
    border-right: 8px solid rgba(255, 255, 255, 0);
    animation: spin 1s infinite linear;
}
@keyframes spin{
    to {
        transform: rotate(360deg);
    }
}